@font-face {
    font-display: swap;
    font-family: "Fira Code";
    font-stretch: normal;
    font-style: normal;
    font-weight: 300 700;
    src: local("FiraCode-VariableFont_wght"),
      url(../font/FiraCode/FiraCode-VariableFont_wght.ttf)
        format("truetype support variations"),
      url(../font/FiraCode/FiraCode-VariableFont_wght.ttf)
        format("truetype-variations");
  }
  @font-face {
    font-display: swap;
    font-family: Arimo;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400 700;
    src: local("Arimo-VariableFont_wght"),
      url(../font/Arimo/Arimo-VariableFont_wght.ttf)
        format("truetype support variations"),
      url(../font/Arimo/Arimo-VariableFont_wght.ttf) format("truetype-variations");
  }
  @font-face {
    font-display: swap;
    font-family: Arimo;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400 700;
    src: local("Arimo-Italic-VariableFont_wght"),
      url(../font/Arimo/Arimo-Italic-VariableFont_wght.ttf)
        format("truetype support variations"),
      url(../font/Arimo/Arimo-Italic-VariableFont_wght.ttf)
        format("truetype-variations");
  }
  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-stretch: normal;
    font-style: normal;
    font-weight: 100 900;
    src: local("Inter-VariableFont_slnt,wght"),
      url(../font/Inter/Inter-VariableFont_slntwght.ttf)
        format("truetype support variations"),
      url(../font/Inter/Inter-VariableFont_slntwght.ttf)
        format("truetype-variations");
  }
  @font-face {
    font-display: swap;
    font-family: IBM Plex Mono;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: local("IBMPlexMono-Regular"),
      url(../font/IBMPlexMono/IBMPlexMono-Regular.ttf) format("truetype");
  }